<% include ../header %>
  <header>
    <h2>ltalk - Agenda de contatos</h2>
  </header>

  <section>

    <form action="/contato" method="post">
<input type="text" name="contato[nome]" placeholder="Nome">
<input type="email" name="contato[email]" placeholder="E-mail">
<button type="submit">Cadastrar</button>
</form>
<table>
<thead>
<tr>
  <th>Nome</th>
  <th>E-mail</th>
  <th>Ação</th>
</tr>
</thead>
<tbody>
<% contatos.forEach(function(contato, index) { %>
<tr>
<td><%- contato.nome %></td>
<td><%- contato.email %></td>
<td>
<a href="/contato/<%- index %>">Detalhes</a>
<a href="/chat/<%- contato.email %>">Conversar</a>

</td>
</tr>
<% }) %>
</tbody>
</table>
</section>
<% include ../exit %>
<% include ../footer %>
